<div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Current Event <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
                <li><a href="{{ path('showclanactiveevent', {'clan_id': 'PSQD'}) }}">PSQD</a>
                </li>
                <li><a href="{{ path('showclanactiveevent', {'clan_id': 'PSQDX'}) }}">PSQDX</a>
                </li>

            </ul>
        </li>
    </ul>
</div>
{% if is_granted('ROLE_USER') %}
    <div class="menu_section">
        <h3>CW tracker</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-bug"></i> Clan Battles <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    {% for clan in security_settings.authorised_clans %}
                        <li><a href="{{ path('list_clan_battles', {'clan': clan}) }}">{{ clan }}</a>
                        </li>
                    {% endfor %}
                    <li><a href="{{ path('new_battle_from_replay') }}">New Battle</a>
                    </li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a><i class="fa fa-windows"></i> CW Admin <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="{{ path('refresh_clans') }}">Refresh Clans</a>
                        </li>
                        <li><a href="{{ path('refresh_maps') }}">Refresh Maps</a>
                        </li>
                        <li><a href="{{ path('refresh_tanks') }}">Refresh Tanks</a>
                        </li>
                        <li><a href="{{ path('refresh_events') }}">Refresh Events</a>
                        </li>
                        <li><a href="{{ path('edit_payout_config') }}">Payout config</a>
                        </li>
                        <li><a href="{{ path('crontasks_add') }}">Add Event Cron Tasks</a>
                        </li>
                        <li><a href="{{ path('crontasks_delete') }}">Delete Event Cron Tasks</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#level1_1">Level One</a>
                    <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#level1_2">Level One</a>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a>
            </li>
        </ul>
    </div>
{% endif %}